# 飞书配置
FEISHU_ENABLED=true
FEISHU_APP_ID=
FEISHU_APP_SECRET=
# 管理员邮箱
FEISHU_ADMIN_EMAIL=

# Claude Agent Configuration
CLAUDE_MODEL=
ANTHROPIC_BASE_URL=
# glm4.6
# ANTHROPIC_BASE_URL=https://v45b0i5r.fn.bytedance.net

# Tavily search API Key
TAVILY_API_KEY=

# 应用配置
PORT=3000
NODE_ENV=development

# Memory 存储路径
MEMORY_DB_PATH=./data/memory.jsonl

# LLM Configuration
LLM_BASE_URL=
LLM_API_KEY=
LLM_MODEL=

# 远程计算机 API Key
LUMI_API_KEY=